<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>salesforce</key>
	<string>com.temporary.salesforce</string>
	<key>unrealengine</key>
	<string>com.temporary.unrealengine</string>
	<key>swift</key>
	<string>com.temporary.swift</string>
	<key>mulesoft</key>
	<string>com.temporary.mulesoft</string>
	<key>premium</key>
	<string>com.temporary.premium</string>
	<key>standard</key>
	<string>com.temporary.standard</string>
</dict>
</plist>
